/********************

        GENERAL

********************/

html, body {
  overflow: hidden;
}

body {
  background: #000000;
  margin: 0;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
} 

.logo {
  position: absolute;
  top: 5px;
  right: 5px;
}

/********************

    GLOBAL TIMELINE

********************/

.global-timeline .global-line {
  position: relative;
  left: 10%;
  width: 1px;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.7);
}

.modules {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  height: 90%;
}

.modules > div {
  width: 15px;
  height: 15px;
  margin: 22px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  transition: transform 0.15s ease-in-out;
  cursor: pointer;
}

.modules > div:hover {
  transform: scale(2);
  background-color: rgba(255, 255, 255, 1);
}

.modules > div p {
  display: none;
}

.modules > div:hover p {
  display: inherit;
}

/********************

    ACTUAL POSITION

********************/

.actual-position .spaceship {
  position: absolute;
  top: 10%;
  left: 25%;
  animation-name: hovering;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes hovering {
  0% { transform: translateY(-5px); }
  50% { transform: translateY(5px); }
  100% { transform: translateY(-5px); }
}

/********************

    INFORMATIONS

********************/

.informations {
  position: absolute;
  width: 50%;
  height: 65%;
  top: 17.5%;
  right: 10%;
}

.informations .details {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid;
  border-radius: 5px;
  height: 100%;
  width: 50%;
  box-shadow: inset;
}

.informations .annexes {
  position: absolute;
  height: 100%;
  width: 48%;
  top: 0;
  right: 0;
}

.informations .twitter-feed {
  height: 49%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid;
  border-radius: 5px;
  margin-bottom: 2%;
}

.informations .video-archives {
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid;
  border-radius: 5px;
  height: 49%;
  width: 100%;
}

/********************

    SOCIAL MEDIAS

********************/

.social-medias {
  position: absolute;
  bottom: 15px;
  right: 30px;
  font-size: 36px;
  color: white;

}

.social-medias > div {
  display: inline-block;
  margin: 7px;
  opacity: 0.7;
  transition: transform 0.15s ease-in-out;
  will-change: transform;
}

.social-medias > div:hover {
  transform: scale(1.5);
  opacity: 1;
}

a:visited {
  color: white;
}