/********************

        GENERAL

********************/


body, html {
  overflow: hidden;
} 

body {
  background: #000000;
  margin: 0;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
} 

.logo {
  position: absolute;
  top: 5px;
  right: 5px;
}

/********************

    GLOBAL TIMELINE

********************/

.global-timeline .global-line {
  position: relative;
  left: 10%;
  width: 1px;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.7);
}

.modules {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  height: 90%;
}

.modules > div {
  width: 15px;
  height: 15px;
  margin: 22px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  transition: transform 0.15s ease-in-out;
}

.modules > div:hover {
  transform: scale(2);
  background-color: rgba(255, 255, 255, 1);
}

/********************

    ACTUAL POSITION

********************/

.actual-position .spaceship {
  position: absolute;
  top: 10%;
  left: 25%;
  animation-name: hovering;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes hovering {
  0% { transform: translateY(0px); }
  50% { transform: translateY(3px); }
  100% { transform: translateY(0px); }
}

/********************

    SOCIAL MEDIAS

********************/

.social-medias {
  position: absolute;
  bottom: 15px;
  right: 30px;
  font-size: 36px;
  color: white;
}

.social-medias > div {
  display: inline-block;
  margin: 7px;
  opacity: 0.7;
  transition: transform 0.15s ease-in-out;
  will-change: transform;
}

.social-medias > div:hover {
  transform: scale(1.5);
  opacity: 1;
}

a:visited {
  color: white;
}